

body {
	background-color:gray;

}

.container {
	border:2px solid #F5F5F5;
	background-color:darken(#F5F5F5,10);
	border-radius:8px;
	margin-top:40px;
	margin-bottom: 40px;
	
}

.imageBox {
	border:2px solid #F5F5F5;
	border-radius:8px;
	height:120px;
	width:120px;
	margin:0 auto;
	display:block;
	margin-bottom:15px;
	margin-top:15px;
}

img {
	max-width:100%;
	margin:0 auto;
	display:block;
	margin-top:8px;
}

h1 {
	text-align:center;
	font-family: 'Hind', sans-serif;
}

input {
	width:800px;
	margin-left:133px;
	
}

h2 {
	text-align:center;
	font-family: 'Hind', sans-serif;
}

.audioPlayer {
	width:900px;
	margin:0 auto;
	display:block;
}